version: "3.9"

services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: Organization
      MYSQL_ROOT_PASSWORD: rootd
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - emp-net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 20s

  app:
    build: .
    ports:
      - "8080:8080"
    networks:
      - emp-net
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/Organization
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: rootd

networks:
  emp-net:
    driver: bridge

volumes:
  mysql-data:
